<a href="/"><p style="color: rgb(163, 213, 95);; font-size: 23px; font-weight: bold; text-align: center; letter-spacing: 3px; margin-top: 90px;  margin-bottom: 20px;">COUJOB</p></a>

<p style="font-size: 20px; font-weight: bold; text-align: center; margin-top: 50px; margin-bottom: 20px;">회원가입</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <!--<%= devise_error_messages! %>-->
  
  <div class="field">
    <%= f.email_field( :email, placeholder: "이메일", autofocus: true, :required => true, :class => "sign_mail form-control sign_in_form") %>
    <div class="search_id_result texts"></div>
  </div>
  
  <div class="field">
    
    <%= f.text_field( :name, placeholder: "이름", :required => true, :class => "sign_nick form-control sign_in_form", :style => "width:45%")  %>
    <div class="search_nick_result texts"></div>
  </div>
  
  <div class="field">
    
    <%= f.select :age, options_for_select((1980..2005).to_a.map{ |c| [c.to_s + "년도", c ] }), {:prompt => "연령"}, {:required => true, :class => "form-control sign_in_form"} %>
    
  </div>
  
  <div class="field">
    
    <%= f.select :school, options_for_select((["경희대서울캠"]).to_a.map{ |c| [ c , c ] }), {:prompt => "학교를 골라주세요"}, {:required => true, :class => "form-control sign_in_form"} %>
    
  </div>

  <div class="field">
    
    
    <%= f.password_field( :password, placeholder: "비밀번호(최소 6글자 입니다)", autocomplete: "off", :required => true, :class => "sign_passwd_original form-control sign_in_form") %>
    <!--<% if @minimum_password_length %>-->
    <!--  <em>(<%= @minimum_password_length %> characters minimum)</em>-->
    <!--<% end %><br />-->
  </div>

  <div class="field">
    
    <%= f.password_field( :password_confirmation, placeholder: "비밀번호 확인", autocomplete: "off", :required => true, :class => "sign_passwd_confirm form-control sign_in_form") %>
    <div class="confirm_result texts"></div>
  </div>
  
  <div class="field" style="padding-left:11%; padding-right:11%; margin-top:30px">
    <label style="font-weight:normal">
      <%= f.check_box :gender, :required => true %>남자
    </label>
    <label style="font-weight:normal">
      <%= f.check_box :gender, :required => true %>여자
    </label>
      
  </div>
  
  <div class="field" style="padding-left:11%; padding-right:11%; margin-top:30px">
    <label style="font-weight:normal">
      <%= f.check_box :agree_on_term, :required => true %> <span style="color:rgb(52, 152, 219); text-decoration:underline">이용약관</span> 및 <span style="color:rgb(52, 152, 219); text-decoration:underline">개인정보 취급 방침</span>을 읽고 동의합니다.
    </label>
      
  </div>

  <div class="actions sign_up_submit" style="text-align:center; margin-bottom:40px">
    <%= f.submit( "가입완료", :class => "btn_sign_in", :style => "background: rgb(163, 213, 95);; font-size:14px !important" )%>
  </div>
<% end %>