<a href="/"><p style="color: rgb(163, 213, 95);; font-size: 23px; font-weight: bold; text-align: center; letter-spacing: 3px; margin-top: 90px;  margin-bottom: 10px;">COUJOB</p></a>

<p style="font-size: 13px; font-weight: bold; text-align: center; margin-top: 20px; margin-bottom: 20px;">비밀번호 재설정 링크를 보내드립니다.</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field( :email, autofocus: true, :placeholder => "이메일을 입력해주세요.", :class => "sign_in_form form-control" )%>
  </div>

  <div class="actions" align="center" style="margin-top:10px">
    <%= f.submit( "비밀번호 재설정 전송", :class => "btn_sign_in", :style => "background:rgb(163, 213, 95);") %>
  </div>
<% end %>
  <div align="center" style="margin-top:15px">
    <a href="/users/sign_in" style="color:rgb(52, 152, 219); text-decoration:underline">로그인 페이지로 돌아가기</a>    
  </div>
