<div class="index_main">
    <% if @coupsize == 0 %>
        <div class="index_main_text">
            <p>채용정보를 보고<br> 쿠폰을 받으세요</p>
        </div>
        <div class="index_main_button">
            <button class="btn issue_coupon btn_sign_in" style="background: rgb(163, 213, 95)" type="submit">쿠폰 받으러 가기</button>
        </div>
    <% else %>
        <div class="index_main_text">
            <p>지금 바로<br>쿠폰을 사용하세요</p>
        </div>
        <div class="index_main_button">
            <button value="<%= @coup_issued.take.id %>" class="btn use_coupon btn_sign_in" style="background: rgb(163, 213, 95)" type="submit">사용하기</button>
        </div>
    
        
        
        
    <% end %>
</div>