<a href="/"><p style="color: rgb(163, 213, 95);; font-size: 23px; font-weight: bold; text-align: center; letter-spacing: 3px; margin-top: 90px;  margin-bottom: 50px;">COUJOB</p></a>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" style="text-align: center">
    
    <%= f.email_field( :email, autofocus: true, :placeholder => "이메일을 입력해주세요", :class => "form-control sign_in_form") %>
  
    <%= f.password_field( :password, autocomplete: "off", placeholder: "비밀번호를 입력해주세요", :class => "form-control sign_in_form") %>
  </div>

  <!--<% if devise_mapping.rememberable? -%>-->
  <!--  <div class="field">-->
  <!--    <%= f.check_box :remember_me %>-->
  <!--    <%= f.label :remember_me %>-->
  <!--  </div>-->
  <!--<% end -%>-->

  <div class="actions" style="text-align: center; margin-top:45px">
    <%= f.submit( "로그인", :class => " btn_sign_in", :style => "background: rgb(163, 213, 95);" )%>
    <button type="button" class=" btn_sign_in"><a style="color:inherit" href="/users/auth/facebook">페이스북으로 3초 만에 로그인</a></button>
  </div>
<% end %>
  <div class="sign_in_form_links">
    <%= render "devise/shared/links" %>
  </div>
