* {
    font-family: HanSans
}


#header {
    background-color: rgb(163, 213, 95);
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*flex: 3 2 1;*/
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
}

#footer {
    position: relative;
    background-color: rgb(94,94,94);
    height:135px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.footer_font {
    font-size: small;
    font-weight: bold;
    color: white;
}

.index_main {
    height: 90vh;
    background: asset_url("coujob_index_main.jpg");
}

.index_main_text {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.index_main_text p {
    margin-top: 25vh;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.index_main_button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.index_main_button button {
    background: rgb(163, 213, 95);
    margin-top: 15vh !important;
    color: white;
    font-weight: bold;
    font-size: 15px !important;
}
    
#dropdownmenumenu {
  /*display: table; */
  border-radius: 0px;
  border: none;
  width: 100%;
  height: 100vh;
  margin-top:0;
  top: 0;
  background-color: white;
  background-color: rgba(255,255,255,0.9);
  display:none;
  position:fixed;
  z-index:1000;
}

.menu_button {
    border: 1px solid lightgray !important;
    width: 76% !important;
    height: 45px;
    line-height: 2 !important;
    color: black !important;
    margin-top: 10px;
    font-size: 16.5px !important;
    background-color: rgba(255, 255, 255, 1);;
}

.menu_button.green {
    color: white !important;
    background-color: rgb(163, 213, 95);
    font-weight: bold;
}
