.btn_sign_in {
    width: 80%; 
    background: rgb(52,152,219);
    font-size: 13px !important;
    /*font-weight: bold !important;*/
    padding: 13px !important;
    color:white;
    border: 0px;
    margin-top: 10px !important;
    border-radius: 6px;
}

.sign_in_form {
    width: 80% !important;
    margin: 0 auto !important;
    margin-top: 10px !important;
    height: 42px !important;
}

.sign_in_form_links {
    display:flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-evenly;
    margin-top: 25px;
    font-size: 13px; 
    text-decoration: underline;
}

.sign_in_form_links a {
    width: 88.92px;
    text-align: center;
    color: black;
    font-weight:bold;
}

.texts {
    padding-left: 11%;
    font-size: 10px
}