  <div id="footer">
    <div class="intro_content_center" align="center">
      <p class="footer_font">이메일 contact@mypalet.co.kr</p>
      <p class="footer_font">Copyright ⓒ 2017 Mypalet All rights reserved</p>
    </div>
  </div>