  <div id="header">
    
    <div class="dropdownmenu_open" href="#dropmenumenu" style="width:62.25px;height:45px;display:flex;align-items:center">
      <img id="menu_open" style="width:22px" src="<%= image_path("menu_hamburger.png") %>">
    </div>  
    
    <div style="color:white; font-weight:200; font-size:20px; letter-spacing: 3px;">
      <a class="header_logo" href="/">
        <img style="width:100px; margin-bottom:4px" src="<%= image_path("coujob_logo_white.png") %>">
      </a>
    </div>
    
    
    <div class="nav_staywidth" style="display:flex; justify-content:flex-end; width:62.25px">
      
      
    </div>
    
    <!--<div style="margin-left:0; margin-right: 3%; color: white" >-->
    <!--  <img style="width:25px" src="<= image_path("hamburger_1.png") %>">-->
    <!--</div>-->
    
    
  </div>
  
  <div id="dropdownmenumenu" style="display:none">
      <div id="dropdown_nav" style="font-family:HanSans; display:flex; align-items:center; justify-content: space-between; height:53px; padding-left:5%; padding-right: 5% ">
        <div style="font-size: 19px; color: rgb(255, 149, 149); font-weight: bold; letter-spacing:3px">
          <a href="/home/index" style="color:inherit">
            <img style="width:100px; margin-bottom:4px" src="<%= image_path("coujob_logo_green.png") %>">
          </a>
        </div>
        <div id="close_dropdown" style="font-size:17px; font-weight:600">
          닫기
        </div>
      </div>
      
      <div style="text-align:center; margin-top:40%">
        <div>
          <% if user_signed_in? %>
            <a class="btn menu_button green" role="button" href="/users/edit">
              
                마이 페이지
              
            </a>
          <% else %>
            
            <a class="btn menu_button green" role="button" href="/users/sign_in">
              
                로그인
              
            </a>
          <% end %>
          
        </div>
        <div>
          <a class="btn menu_button" role="button" href="/home/lipstick_list">
            
              리크루트 정보
            
          </a>
          
        </div>
        <!--<div style="margin-top:25px">-->
        <!--  <a class="btn menu_button pink" role="button" href="/home/index#kit_reserve">-->
            
        <!--      미니키트 예약-->
            
        <!--  </a>-->
        <!--</div>-->
        
      </div>
  </div>